# Node dependencies
node_modules/
server/node_modules
wad2025project_vue/node_modules

# Environment variables (secrets)
.env
.env.*
server/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output (Vue)
dist/

# OS / system files
.DS_Store
Thumbs.db

# IDE / editor settings
.vscode/
.idea/